[Unit]
Description=iperf3 server
After=syslog.target network.target auditd.service

[Service]
ExecStart=/usr/bin/iperf3 -s -p 5201
{# have to invoke a shell to run inline command #}
ExecStop=/bin/bash -c 'sudo killall iperf3'

[Install]
WantedBy=multi-user.target